@keyframes pulse1 {
    0% {
      transform: scaleX(1);
    }
    50% {
      transform: scaleX(1.1);
    }
    100% {
      transform: scaleX(1);
    }
  }
  
  @keyframes pulse2 {
    0% {
      transform: scaleX(1);
    }
    50% {
      transform: scaleX(1.1);
    }
    100% {
      transform: scaleX(1);
    }
  }
  
  @keyframes pulse3 {
    0% {
      transform: scaleX(1);
    }
    50% {
      transform: scaleX(1.1);
    }
    100% {
      transform: scaleX(1);
    }
  }
  
  .animate-bar1 {
    animation: pulse1 1.5s ease-in-out infinite;
  }
  
  .animate-bar2 {
    animation: pulse2 1.5s ease-in-out infinite 0.2s;
  }
  
  .animate-bar3 {
    animation: pulse3 1.5s ease-in-out infinite 0.4s;
  }
  